#Remove data files
*ebd*.txt

data/spatial/*
data/results/*
data/eBird*
data/ebird_*
!data/spatial/00_data_exists.txt
!data/results/00_data_exists.txt

*.tif*
*.shp
*.dbf
*.shx

# Session Data files
*.RData
*.rda
*.rdata

/.Rproj.user

*.Rhistory
.Rproj.user

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
.Rproj.user
*.csv
*.xl*

# any zip or shapefile
*.zip
*.shp
*.prj
*.cpg
*ini

# pdf files
*.pdf

!data/species_list.csv