#Remove data files
*ebd*.txt

data/eBird*
data/ebird_*
data/for-map
data/spatial/elevation
data/*

!data/spatial/00_data_exists.txt
!data/results/00_data_exists.txt

docs/*.aux
docs/*.fdb_latexmk
docs/*.fls
docs/*.log
docs/*.tex

*.tif*

# Session Data files
/.Rproj.user

*.Rhistory
.Rproj.user

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
.Rproj.user

data/04_data-covars-2.5km.csv
data/05_scaled-covars-2.5km.csv